@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    height: 100%;
    width: 100%;
    /* background: rgb(23,23,23); */
    background: linear-gradient(350deg, rgb(10, 10, 10) 0%, rgb(29, 29, 29) 100%);    margin: 0;

    font-family: 'Playfair Display', serif;
}

.title {
    font-size: 3rem;
    color: #FFF;
    font-weight: 700;
}

.sub-title {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 11%;
}

.socials {
    word-spacing: 30px;
    font-size: 12px;
    color: #FFF;
        margin-top: 25px;
}

.socials a {
    color: #FFF;
}


.welcome {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: muncul2 2s;
}

.place {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: muncul2 2s;
}

.socials {
    word-spacing: 30px;
    font-size: 12px;
    color: #FFF;
    margin-top: 25px;
}

.join {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-weight: 500;
    font-size: 12px;
    margin-top: 300px;
    padding: 5px;
    transition: all 0.3s ease;
    width: 130px;
        margin-bottom: 108px;
        border-radius: 100px;
        border: solid 1px #FFF;
}

a {
    text-decoration: none;
}

.join a:hover {
    color: #000;
    
}

.join:hover {
    transition: all 0.3s ease;
    background-color: #FFF;
    color: #000;
}


.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    left: 0;
    bottom: 0;
    width: 100%;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }

.not {
    display: inline-block;
}