@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    height: 100%;
    /* background: rgb(23,23,23); */
    background: linear-gradient(350deg, rgb(10, 10, 10) 0%, rgb(29, 29, 29) 100%);    margin: 0;
    overflow-x: hidden;
    font-family: 'Playfair Display', serif;
}

.title {
    font-size: 3rem;
    color: #FFF;
    font-weight: 700;
}

.sub-title {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 11%;
}

.socials {
    word-spacing: 30px;
    font-size: 12px;
    color: #FFF;
        margin-top: 25px;
}

.socials a {
    color: #FFF;
}

.kiri img:hover {
    filter: saturate(1);
}

.kanan img:hover {
    filter: saturate(1);
}

.kiri img {
    transition: all ease 0.3s;
}

.kanan img {
    transition: all ease 0.3s;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.kiri {
    width: 47%;
        margin-left: 2%;
        margin-right: 1%;
}


.kiri .sub-title {
    text-align: right;
    float: right;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
        margin-bottom: 0px;
        margin-top: 220px;

}

.kiri .content {
    color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 80%;
    text-align: right;
    float: right;
}

.kiri .img {
    width: 200px;
    height: 330px;
    filter: saturate(0);
    object-fit: cover;
    float: right;
        margin-top: 15px;
}

.kiri .sub-title-2 {
    text-align: right;
    float: right;
    clear: right;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
        margin-bottom: 0px;

}

.kiri .content-2 {
    color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 80%;
    text-align: right;
    float: right;
        margin-bottom: 5px;
}

.kiri .sub-title-3 {
    text-align: right;
    float: right;
    clear: both;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
        margin-bottom: 0px;

}

.kiri .content-3 {
    color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 80%;
    text-align: right;
    float: right;
    clear: both;
        margin-bottom: 0px;
}

.kiri .sub-title-4 {
    text-align: right;
    float: right;
    clear: both;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
        margin-bottom: 0px;

}

.kiri .content-4 {
    color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 80%;
    text-align: right;
    float: right;
    clear: both;
        margin-bottom: 0px;
}

.kiri .sub-title-5 {
    text-align: right;
    float: right;
    clear: both;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
        margin-bottom: 0px;

}

.kiri .content-5 {
    color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 80%;
    text-align: right;
    float: right;
    clear: both;
}

.kiri .img-2 {
    width: 300px;
    height: 130px;
    filter: saturate(0);
    object-fit: cover;
    float: right;
        margin-top: 15px;
}

.kanan {
    width: 47%;
        margin-left: 2%;
        margin-right: 1%;
}

.kanan .title {
    text-align: left;
        margin-bottom: 45px;
}

.kanan .sub-title-1 {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
        margin-bottom: 0px;
}

.kanan .content  {
    color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 80%;
}

.kanan .sub-title-2 {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
        margin-bottom: 0px;
}

.kanan .content-2  {
    color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 80%;
}

.kanan .sub-title-3 {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
        margin-bottom: 0px;
}

.kanan .content-3  {
    color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 80%;
}

.kanan .img {
    width: 200px;
    height: 260px;
    filter: saturate(0);
    object-fit: cover;
        margin-top: 15px;
}

.kanan .sub-title-4 {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
        margin-bottom: 0px;
}

.kanan .content-4  {
    color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 80%;
}

.kanan .img-2 {
    width: 200px;
    height: 262px;
    filter: saturate(0);
    object-fit: cover;
        margin-top: 22px;
}


.kanan .sub-title-5 {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
        margin-bottom: 0px;
}

.kanan .content-5 {
    color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 80%;
}

.container-selanjutnya-luar {
    display: flex;
    justify-content: center;
}

.container-selanjutnya {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 84%;
}

a {
    text-decoration: none;

}

.selanjutnya {
    color: #FFF;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 100px;
    border: solid 1px #FFF;
    transition: all 0.3s ease;
        padding: 5px 15px;
        margin-top: 50px;
}

.selanjutnya:hover {
    background-color: #FFF;
    color: #000;
}
