@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    height: 100%;
    /* background: rgb(23,23,23); */
    background: linear-gradient(350deg, rgb(10, 10, 10) 0%, rgb(29, 29, 29) 100%);    margin: 0;
    overflow-x: hidden;
    font-family: 'Playfair Display', serif;
}

.title {
    font-size: 3rem;
    color: #FFF;
    font-weight: 700;
}

.sub-title {
    font-size: 16px;
    color: #f7c933;
}

.socials {
    word-spacing: 30px;
    font-size: 12px;
    color: #FFF;
        margin-top: 25px;
}

.socials a {
    color: #FFF;
}

.kiri img:hover {
    filter: saturate(1);
}

.kanan img:hover {
    filter: saturate(1);
}

.kiri img {
    transition: all ease 0.3s;
}

.kanan img {
    transition: all ease 0.3s;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.kiri {
    width: 47%;
        margin-left: 2%;
        margin-right: 1%;
}

.kiri .title {
    margin-left: 11%;
}

.kiri .img {
    float: right;
    width: 240px;
    height: 337px;
    /* filter: saturate(0); */
    object-fit: cover;
        margin-top: 50px;
}

.kiri .content {
    color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: right;
    width: 86%;
    border-bottom: solid 1px #616161;
        padding-bottom: 26px;
        margin-left: 14%;
        margin-top: 460px;
}

.kiri .img2 {
    float: right;
    width: 550px;
    height: 244px;
    filter: saturate(0);
    object-fit: cover;
        margin-top: 51px;
}

.kanan {
    width: 47%;
        margin-left: 2%;
        margin-right: 1%;
}

.kanan img {
    margin-top: 65px;
    width: 330px;
    height: 440px;
    filter: saturate(0);
    object-fit: cover;
}

.kanan .content {
    color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 80%;
}

.kanan .title {
    margin-top: 40px;
}

.container-selanjutnya-luar {
    display: flex;
    justify-content: center;
}

.container-selanjutnya {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 84%;
}

a {
    text-decoration: none;

}

.selanjutnya {
    color: #FFF;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 100px;
    border: solid 1px #FFF;
    transition: all 0.3s ease;
        padding: 5px 15px;
        margin-top: 50px;
}

.selanjutnya:hover {
    background-color: #FFF;
    color: #000;
}

.coy {
    display: none;
}